.shleter-list{
    display: flex;
    
    padding: 10px;
    
}

.shelter-list-element{
    margin: 20px;
    padding: 20px;
    background-color: rgba(103, 170, 86, 0.74);
    border-radius: 20px;
    text-align: center;

}

.animal-card{
    text-align: center;
    
}
.shelterName{
    font-size: 40px;
}

.animal-cards{
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}

.animal-card{
    background-color: rgba(103, 170, 86, 0.74);
    border-radius: 20px;
}